/* ---header--- */
.headerBox {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  transition: all 0.3s ease-in-out;
}

.headerBox .contentBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 20px;

  transition: padding 0.3s ease-in-out;
}

.headerBox h1 {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  color: #343a40;
}

.headerBox.scrolled {
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  margin: 10px;
  padding: 10px;

  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.headerBox.scrolled .contentBox {
  padding: 10px 20px;
}