html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  font-family: "Noto Sans JP";
  font-weight: 700;
}

body {
  background-color: #f8f9fa;
  color: #343a40;
  padding: 20px;
  padding-top: 70px;
  font-weight: 300;
}
h3 {
  font-size: 28px;
  font-weight: 600;
  color: #495057;
  margin-bottom: 25px;
  border-bottom: 2px solid #e9ecef;
  padding-bottom: 5px;
}

#card-results-container{
  margin: -20px;
}

/* ---header--- */
.headerBox {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  transition: all 0.3s ease-in-out;
}

.headerBox .contentBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 20px;

  transition: padding 0.3s ease-in-out;
}

.headerBox h1 {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  color: #343a40;
}

.headerBox.scrolled {
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  margin: 10px;
  padding: 10px;

  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.headerBox.scrolled .contentBox {
  padding: 10px 20px;
}

/* ---grid--- */
#gridTag{
  overflow-x: auto;
}

.gridjs-th,
.gridjs-td {
  padding: 4px 8px !important;
  font-size: 14px;
}

.gridjs-th {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}

.gridjs-tr {
  min-height: 20px;
}

/* ---main--- */

.main {
  position: relative;
  margin-top: 1%;
  margin-bottom: 10%;
}

/* ---bgBox--- */
.bgBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-size: contain;
  background-position: center center;

  clip-path: polygon(0% 20%, 0% 100%, 35% 100%);
  transform: translateY(5%);

  z-index: 1;
}

/* ---trimBox--- */
.trimBox {
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  overflow: hidden;
  position: relative;
  z-index: 10;
}
.trimBox .pr_img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-50px);
}

/* ---nameBox--- */
.nameBox {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 400px;

  z-index: 20;
}
.nameBox .bar_img {
  width: 100%;
  height: 100px;
  position: absolute;

  background-size: contain;
  background-repeat: no-repeat;

  top: 300px;

  left: 0;
  z-index: 15;
}
.nameBox .span_name {
  width: 100%;
  position: absolute;

  top: 215px;
  left: 3%;

  letter-spacing: 0.05em;
  font-size: 50px;
  color: rgb(51, 51, 51);
  text-shadow: 2px 0.5px 0 white;
  z-index: 25;
}

/* ---tableBox--- */
.tableBox {
  position: absolute;
  top: 15%;
  left: 24%;
  z-index: 30;
}

/* color class */
.main.red .bgBox {
  background-image: url("./src/img/base_bg.png");
  filter: brightness(120%) saturate(150%) hue-rotate(0deg);
}
.main.red .nameBox .bar_img {
  background-image: url("./src/img/base_bar.svg");
  filter: brightness(120%) saturate(150%) hue-rotate(0deg);
}

.main.orange .bgBox {
  background-image: url("./src/img/y_bg.png");
  filter: brightness(100%) saturate(150%) hue-rotate(320deg);
}
.main.orange .nameBox .bar_img {
  background-image: url("./src/img/y_bar.svg");
  filter: brightness(100%) saturate(150%) hue-rotate(320deg);
}

.main.yellow .bgBox {
  background-image: url("./src/img/y_bg.png");
}
.main.yellow .nameBox .bar_img {
  background-image: url("./src/img/y_bar.svg");
}

.main.green .bgBox {
  background-image: url("./src/img/base_bg.png");
  filter: brightness(120%) saturate(150%) hue-rotate(130deg);
}
.main.green .nameBox .bar_img {
  background-image: url("./src/img/base_bar.svg");
  filter: brightness(150%) saturate(150%) hue-rotate(130deg);
}

.main.cyan .bgBox {
  background-image: url("./src/img/base_bg.png");
  filter: brightness(120%) saturate(150%) hue-rotate(200deg);
}
.main.cyan .nameBox .bar_img {
  background-image: url("./src/img/base_bar.svg");
  filter: brightness(120%) saturate(150%) hue-rotate(200deg);
}

.main.blue .bgBox {
  background-image: url("./src/img/base_bg.png");
  filter: brightness(120%) saturate(150%) hue-rotate(220deg);
}
.main.blue .nameBox .bar_img {
  background-image: url("./src/img/base_bar.svg");
  filter: brightness(120%) saturate(150%) hue-rotate(220deg);
}

.main.purple .bgBox {
  background-image: url("./src/img/base_bg.png");
  filter: brightness(100%) saturate(150%) hue-rotate(270deg);
}
.main.purple .nameBox .bar_img {
  background-image: url("./src/img/base_bar.svg");
  filter: brightness(100%) saturate(150%) hue-rotate(270deg);
}

.main.pink .bgBox {
  background-image: url("./src/img/base_bg.png");
  filter: brightness(120%) saturate(150%) hue-rotate(300deg);
}
.main.pink .nameBox .bar_img {
  background-image: url("./src/img/base_bar.svg");
  filter: brightness(120%) saturate(150%) hue-rotate(300deg);
}

.main.white .bgBox {
  background-image: url("./src/img/base_bg.png");
  filter: brightness(120%) saturate(0%) hue-rotate(300deg);
}
.main.white .nameBox .bar_img {
  background-image: url("./src/img/base_bar.svg");
  filter: brightness(120%) saturate(0%) hue-rotate(300deg);
}

.main.lgreen .bgBox {
  background-image: url("./src/img/base_bg.png");
  filter: brightness(150%) saturate(150%) hue-rotate(150deg);
}
.main.lgreen .nameBox .bar_img {
  background-image: url("./src/img/base_bar.svg");
  filter: brightness(150%) saturate(150%) hue-rotate(160deg);
}

.main.lpurple .bgBox {
  background-image: url("./src/img/base_bg.png");
  filter: brightness(120%) saturate(150%) hue-rotate(270deg);
}
.main.lpurple .nameBox .bar_img {
  background-image: url("./src/img/base_bar.svg");
  filter: brightness(170%) saturate(150%) hue-rotate(270deg);
}
