html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  font-family: "Noto Sans JP";
  font-weight: 700;
}

body {
  background-color: #f8f9fa;
  color: #343a40;
  padding: 20px;
  padding-top: 70px;
  font-weight: 300;
}
h3 {
  font-size: 28px;
  font-weight: 600;
  color: #495057;
  margin-bottom: 25px;
  border-bottom: 2px solid #e9ecef;
  padding-bottom: 5px;
}

#card-results-container{
  margin: -20px;
}