html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  font-family: "Noto Sans JP";
  font-weight: 700;
}

.is-loading {
    opacity: 0;
    transition: opacity 0s;
}

.main {
  position: relative;
  margin-top: 1%;
  margin-bottom: 10%;
}

.tableBox {
  position: absolute;
  top: 15%;
  left: 22%;
  z-index: 15;
  border: 2px solid red;
}

.trimBox {
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  overflow: hidden;
  position: relative;
}
.trimBox .pr_img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-50px);
}

.bar_img {
  height: 100px;
  position: absolute;
  top: 300px;
  left: 0;
}
.nameBox .span_name {
  width: 100%;
  position: absolute;
  top: 0;
  transform: translate(2%, 125%);
  letter-spacing: 0.05em;
  font-size: 50px;
  color: rgb(57, 60, 77);
  z-index: 20;
}
.nameBox {
  width: 100%;
  height: 100%;
  z-index: 10;
}
